{
  "openapi": "3.1.0",
  "info": {
    "title": "LeadMagic API",
    "version": "1.4.35",
    "description": "# LeadMagic API Documentation\n\nThe LeadMagic API provides comprehensive B2B data enrichment services including email validation, email finding, profile search, company intelligence, and more.\n\n## Quick Start\n\n1. Get your API key from the [LeadMagic Dashboard](https://app.leadmagic.io)\n2. Add the `X-API-Key` header to all requests\n3. Start enriching your data!\n\n## Base URL\n\nAll API requests should be made to: `https://api.leadmagic.io`\n\n## Rate Limits\n\nEach endpoint has specific rate limits (requests per minute). Exceeding limits returns a `429 Too Many Requests` response.\n\n## Fair Use\n\nAll API use is subject to LeadMagic [Fair Use](https://leadmagic.io/legal/terms#fair-use). For Email Finder and similar enrichment endpoints, a sustained find rate below **10%** may result in throttling, reduced limits, suspension, or termination — including when you still have prepaid credits. Email Finder and Email Validation may have different published rate limits and plan tiers. LeadMagic reserves the right to modify Fair Use thresholds, rate limits, product tiering, and enforcement policies as described in our Terms.\n\n## Credits and rollover\n\nAPI calls consume credits based on the endpoint used. On eligible **monthly** plans (Essential and above), unused subscription credits may roll over, but your workspace may never hold more than **two months** of your plan's included monthly allocation (2× monthly credits). Credits above that cap expire at each billing reset. **Basic**, **annual billing**, and **custom (negotiated) deals** do not roll over unless your written agreement explicitly includes rollover. See [Terms — Credit Expiration and Rollover](https://leadmagic.io/legal/terms#subscription) and check your balance with `/v1/credits`.\n\n## Support\n\nContact us at support@leadmagic.io for assistance.\n",
    "contact": {
      "name": "LeadMagic Support",
      "email": "support@leadmagic.io",
      "url": "https://leadmagic.io"
    },
    "termsOfService": "https://leadmagic.io/legal/terms"
  },
  "servers": [
    {
      "url": "https://api.leadmagic.io",
      "description": "Production API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your LeadMagic API key. Header name is case-insensitive (X-API-Key, X-API-KEY, x-api-key all work)."
      }
    },
    "parameters": {
      "BulkJobId": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "description": "UUID identifier of the bulk job.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Effective organization request ceiling for the current minute.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the effective organization minute window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "Unix epoch second when the current minute window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "SearchRpsLimit": {
        "description": "Effective organization sustained Search RPS ceiling.",
        "schema": {
          "type": "integer"
        }
      },
      "SearchRpsRemaining": {
        "description": "Tokens remaining in the current sustained Search RPS window.",
        "schema": {
          "type": "integer"
        }
      },
      "SearchRpsReset": {
        "description": "Unix epoch second when the sustained Search RPS window refills.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "RFC 9457 Problem Details error response",
        "required": [
          "success",
          "errors"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false,
            "description": "Always false for error responses"
          },
          "errors": {
            "type": "array",
            "description": "Array of error details (typically one, but can be multiple)",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "description": "RFC 9457 compliant error detail",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "RFC 9457 - URI reference identifying the error type",
            "example": "https://api.leadmagic.io/errors/validation_error"
          },
          "title": {
            "type": "string",
            "description": "RFC 9457 - Short human-readable summary",
            "example": "Request validation failed. Check your input parameters."
          },
          "status": {
            "type": "integer",
            "description": "RFC 9457 - HTTP status code",
            "example": 400
          },
          "detail": {
            "type": "string",
            "description": "RFC 9457 - Human-readable explanation specific to this occurrence",
            "example": "The email field is required but was not provided."
          },
          "instance": {
            "type": "string",
            "format": "uri-reference",
            "description": "RFC 9457 - URI reference for this specific occurrence",
            "example": "/v1/people/email-validation#req_abc123"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code for programmatic handling",
            "example": "validation_error"
          },
          "param": {
            "type": "array",
            "description": "Parameters that caused the error",
            "items": {
              "type": "string"
            },
            "example": [
              "email"
            ]
          },
          "action": {
            "type": "string",
            "description": "Suggested action to resolve the error",
            "example": "Provide a valid email address in the 'email' field."
          },
          "docs": {
            "type": "string",
            "format": "uri",
            "description": "Link to relevant documentation",
            "example": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
          },
          "context": {
            "type": "object",
            "description": "Additional context specific to this error type",
            "additionalProperties": true
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "description": "Metadata included in all responses",
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this request (use for debugging/support)",
            "example": "ea6e3248-f4d2-437d-bca3-20881b529129"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the response was generated",
            "example": "2024-02-01T12:00:00.000Z"
          },
          "environment": {
            "type": "string",
            "description": "API environment (production, staging)",
            "example": "production"
          }
        }
      },
      "ValidationError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/validation_error",
              "title": "Request validation failed. Check your input parameters.",
              "status": 400,
              "code": "validation_error",
              "param": [
                "email"
              ],
              "detail": "Email format is invalid. Expected format: user@domain.com",
              "action": "Provide a valid email address in the 'email' field.",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "MissingFieldError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/missing_required_field",
              "title": "Missing required field: email. Add this field to your request.",
              "status": 400,
              "code": "missing_required_field",
              "param": [
                "email"
              ],
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InvalidJsonError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/invalid_json",
              "title": "Invalid JSON in request body. Check your JSON syntax.",
              "status": 400,
              "code": "invalid_json",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InvalidParameterError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/invalid_parameter",
              "title": "Invalid parameter: experience_level. Valid options: entry, mid, senior, executive.",
              "status": 400,
              "code": "invalid_parameter",
              "param": [
                "experience_level"
              ],
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "MissingAuthenticationError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/missing_authentication",
              "title": "Authentication required. Provide a valid API key in the X-API-Key header (case-insensitive).",
              "status": 401,
              "code": "missing_authentication",
              "docs": "https://leadmagic.io/docs/v1/authentication"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InvalidApiKeyError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/invalid_api_key",
              "title": "Invalid API key. The key does not exist or is incorrect.",
              "status": 401,
              "code": "invalid_api_key",
              "docs": "https://leadmagic.io/docs/v1/authentication"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InsufficientPermissionsError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/insufficient_permissions",
              "title": "Access denied to this resource. Upgrade your plan or contact support.",
              "status": 403,
              "code": "insufficient_permissions",
              "docs": "https://leadmagic.io/docs/v1/authentication"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InsufficientCreditsError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/insufficient_credits",
              "title": "Insufficient credits: need 5, have 2.50. Add credits to continue.",
              "status": 402,
              "code": "insufficient_credits",
              "detail": "This request requires 5 credit(s) but your account only has 2.50 credits remaining.",
              "action": "Add credits to your account at https://app.leadmagic.io/settings/billing or contact support@leadmagic.io for enterprise plans.",
              "docs": "https://leadmagic.io/docs/v1/credits",
              "context": {
                "credits_required": 5,
                "credits_available": 2.5,
                "credits_needed": 2.5
              }
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "ResourceNotFoundError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/resource_not_found",
              "title": "Resource not found.",
              "status": 404,
              "code": "resource_not_found",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "ProfileNotFoundError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/profile_not_found",
              "title": "Profile not found or not accessible",
              "status": 404,
              "code": "profile_not_found",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "RateLimitExceededError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/rate_limit_exceeded",
              "title": "Rate limit exceeded: 600 requests per 1 minute. Wait and try again.",
              "status": 429,
              "code": "rate_limit_exceeded",
              "detail": "You have exceeded the maximum allowed request rate. Please wait before making additional requests.",
              "action": "Wait 42 seconds before retrying. Consider implementing exponential backoff.",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#rate-limits",
              "context": {
                "limit": 600,
                "window": "1 minute",
                "remaining": 0,
                "reset_at": 1706745642,
                "retry_after_seconds": 42
              }
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "InternalServerError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/INTERNAL_ERROR",
              "title": "Something went wrong on our end. Our team has been notified and is investigating.",
              "status": 500,
              "code": "INTERNAL_ERROR",
              "detail": "This is a temporary server error. The issue has been automatically reported to our team.",
              "action": "Wait 30 seconds and retry your request. If the problem persists, contact support@leadmagic.io",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "ExternalServiceError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/external_service_error",
              "title": "Error communicating with external service. Please try again.",
              "status": 502,
              "code": "external_service_error",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "ServiceUnavailableError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/service_unavailable",
              "title": "Service temporarily unavailable. Please try again later.",
              "status": 503,
              "code": "service_unavailable",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "ConflictError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "type": "https://api.leadmagic.io/errors/conflict",
              "title": "Resource conflict detected.",
              "status": 409,
              "code": "conflict",
              "docs": "https://leadmagic.io/docs/v1/making-api-calls#error-handling"
            }
          ],
          "meta": {
            "request_id": "ea6e3248-f4d2-437d-bca3-20881b529129",
            "timestamp": "2024-02-01T12:00:00.000Z"
          }
        }
      },
      "EmailValidationMessages": {
        "type": "string",
        "description": "Possible success messages for email validation",
        "enum": [
          "Email is valid.",
          "Email is invalid.",
          "Unable to determine email validity."
        ]
      },
      "EmailFinderMessages": {
        "type": "string",
        "description": "Possible success messages for email finder",
        "enum": [
          "Valid email found.",
          "No email found for this person at this company."
        ]
      },
      "MobileFinderMessages": {
        "type": "string",
        "description": "Possible success messages for mobile finder",
        "enum": [
          "Mobile number found.",
          "No mobile number found for this contact."
        ]
      },
      "ProfileSearchMessages": {
        "type": "string",
        "description": "Possible success messages for profile search",
        "enum": [
          "Profile found.",
          "Profile not found or not accessible."
        ]
      },
      "CompanySearchMessages": {
        "type": "string",
        "description": "Possible success messages for company search",
        "enum": [
          "Company found.",
          "Company not found"
        ]
      },
      "RoleFinderMessages": {
        "type": "string",
        "description": "Possible success messages for role finder",
        "enum": [
          "Role found.",
          "No matching role found at this company."
        ]
      },
      "EmployeeFinderMessages": {
        "type": "string",
        "description": "Possible success messages for employee finder",
        "enum": [
          "Employees found.",
          "No employees found for this company."
        ]
      },
      "JobChangeDetectorMessages": {
        "type": "string",
        "description": "Possible success messages for job change detector",
        "enum": [
          "No job change detected. Still employed at expected company.",
          "Job change detected. Person has moved to a new company.",
          "Never worked at the expected company."
        ]
      },
      "CompetitorsSearchMessages": {
        "type": "string",
        "description": "Possible success messages for competitors search",
        "enum": [
          "Competitors found.",
          "No competitors found for this company."
        ]
      },
      "CompanyFundingMessages": {
        "type": "string",
        "description": "Possible success messages for company funding",
        "enum": [
          "Funding data found.",
          "Company funding data not found"
        ]
      },
      "TechnographicsMessages": {
        "type": "string",
        "description": "Possible success messages for technographics",
        "enum": [
          "Technologies found.",
          "No technology data found for this domain."
        ]
      },
      "AdsSearchMessages": {
        "type": "string",
        "description": "Possible success messages for ads search endpoints",
        "enum": [
          "Ads found.",
          "No ads found for this company."
        ]
      },
      "PersonalEmailFinderMessages": {
        "type": "string",
        "description": "Possible success messages for personal email finder",
        "enum": [
          "Personal email found.",
          "No personal email found for this contact."
        ]
      },
      "B2BProfileToEmailMessages": {
        "type": "string",
        "description": "Possible success messages for B2B profile to email",
        "enum": [
          "Email found for this profile.",
          "No email found for this profile."
        ]
      },
      "EmailToB2BProfileMessages": {
        "type": "string",
        "description": "Possible success messages for email to B2B profile",
        "enum": [
          "Profile URL found.",
          "No profile found for this email."
        ]
      },
      "RateLimitHeaders": {
        "type": "object",
        "description": "Rate limit headers returned with every response",
        "properties": {
          "RateLimit-Limit": {
            "type": "integer",
            "description": "IETF Standard - Maximum requests per minute",
            "example": 600
          },
          "RateLimit-Remaining": {
            "type": "integer",
            "description": "IETF Standard - Requests remaining this minute",
            "example": 587
          },
          "RateLimit-Reset": {
            "type": "integer",
            "description": "IETF Standard - Seconds until limit resets",
            "example": 42
          },
          "X-RateLimit-Limit": {
            "type": "integer",
            "description": "Legacy - Maximum requests per minute",
            "example": 600
          },
          "X-RateLimit-Remaining": {
            "type": "integer",
            "description": "Legacy - Requests remaining this minute",
            "example": 587
          },
          "X-RateLimit-Reset": {
            "type": "integer",
            "description": "Legacy - Unix timestamp when limit resets",
            "example": 1706745600
          },
          "X-RateLimit-Limit-Daily": {
            "type": "integer",
            "description": "Daily request limit",
            "example": 500000
          },
          "X-RateLimit-Remaining-Daily": {
            "type": "integer",
            "description": "Requests remaining today",
            "example": 485000
          },
          "X-RateLimit-Reset-Daily": {
            "type": "integer",
            "description": "Unix timestamp when daily limit resets",
            "example": 1706832000
          },
          "X-Credits-Remaining": {
            "type": "number",
            "description": "Wallet credits remaining after this request",
            "example": 15432.5
          },
          "X-Credits-Cost": {
            "type": "number",
            "description": "Credits reserved for this route before finalization (may exceed credits actually charged)",
            "example": 1
          },
          "X-Credits-Consumed": {
            "type": "number",
            "description": "Credits actually charged after finalization (matches body credits_consumed)",
            "example": 1
          },
          "X-Credits-Total": {
            "type": "number",
            "description": "Wallet credit balance at authorization",
            "example": 15433.5
          },
          "X-Credits-Max-Cost": {
            "type": "number",
            "description": "Maximum credits that could be charged for this request",
            "example": 1
          },
          "X-Request-Id": {
            "type": "string",
            "description": "Correlation id for support troubleshooting"
          },
          "X-RateLimit-Soft-Mode": {
            "type": "string",
            "description": "Whether soft mode is enabled (warn but don't block)",
            "example": "true"
          },
          "X-RateLimit-Daily-Usage-Percent": {
            "type": "integer",
            "description": "Daily usage as percentage",
            "example": 15
          },
          "X-RateLimit-RPM-Usage-Percent": {
            "type": "integer",
            "description": "Current minute usage as percentage",
            "example": 5
          },
          "Retry-After": {
            "type": "integer",
            "description": "Seconds to wait before retrying (only on 429 responses)",
            "example": 42
          }
        }
      },
      "BulkSubmissionRequest": {
        "type": "object",
        "description": "Request body for submitting a bulk enrichment job via POST /bulk/submit. Provide exactly one of rows, csv, fileUrl, or scrape.",
        "required": [
          "product"
        ],
        "properties": {
          "product": {
            "type": "string",
            "description": "The enrichment product to run on each row (e.g. email_finder, email_validation, mobile_finder, profile_search, company_search).",
            "example": "email_finder"
          },
          "rows": {
            "type": "array",
            "description": "JSON array of row objects for /bulk/json (or /bulk/submit auto-detect). Each row is an object whose keys match the input fields the selected product expects.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "csv": {
            "type": "string",
            "description": "Inline CSV string for /bulk/csv (or /bulk/submit)."
          },
          "fileUrl": {
            "type": "string",
            "description": "Public HTTPS URL to a remote file (CSV, JSON, JSONL). SSRF-validated server-side.",
            "format": "uri"
          },
          "format": {
            "type": "string",
            "description": "File format for fileUrl submissions.",
            "enum": [
              "csv",
              "json",
              "jsonl"
            ]
          },
          "scrape": {
            "type": "object",
            "description": "Browser-rendering config for /bulk/scrape (or /bulk/submit).",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "mode": {
                "type": "string",
                "enum": [
                  "scrape",
                  "crawl",
                  "content",
                  "markdown",
                  "links",
                  "json",
                  "snapshot"
                ]
              },
              "extractPrompt": {
                "type": "string"
              },
              "render": {
                "type": "boolean"
              },
              "maxPages": {
                "type": "integer",
                "minimum": 1,
                "maximum": 50
              },
              "maxDepth": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              }
            }
          },
          "inputMapping": {
            "type": "object",
            "description": "Optional column mapping from CSV/JSON columns to product input fields.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string"
                },
                "column": {
                  "type": "string"
                },
                "value": {}
              }
            }
          },
          "callback": {
            "type": "object",
            "description": "Webhook configuration.",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "HTTPS URL to receive a POST on completion/failure. SSRF-validated."
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "completed",
                    "failed",
                    "canceled",
                    "any",
                    "job.completed",
                    "job.failed",
                    "job.canceled"
                  ]
                },
                "default": [
                  "completed"
                ]
              },
              "inlineResults": {
                "type": "boolean"
              },
              "secret": {
                "type": "string"
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Optional idempotency key for safe retries."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "presetId": {
            "type": "string"
          },
          "outputTransform": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "example": "llama-3.1-8b-instruct"
              },
              "prompt": {
                "type": "string"
              },
              "jsonSchema": {}
            }
          },
          "priority": {
            "type": "integer",
            "minimum": -1000,
            "maximum": 1000
          },
          "fileName": {
            "type": "string"
          }
        }
      },
      "BulkSubmissionResponse": {
        "type": "object",
        "description": "Response for a successful bulk job submission. HTTP 202 Accepted.",
        "required": [
          "jobId",
          "product",
          "totalRows",
          "status",
          "queue"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifier for the bulk job.",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "product": {
            "type": "string",
            "description": "The enrichment product this job is running."
          },
          "endpoint": {
            "type": "string",
            "nullable": true
          },
          "totalRows": {
            "type": "integer",
            "description": "Total number of rows in the submission."
          },
          "status": {
            "type": "string",
            "description": "Always 'uploaded' for a freshly submitted job.",
            "example": "uploaded"
          },
          "queue": {
            "type": "object",
            "properties": {
              "position": {
                "type": "integer"
              },
              "started": {
                "type": "boolean"
              },
              "queuedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "statusUrl": {
            "type": "string",
            "format": "uri"
          },
          "streamUrl": {
            "type": "string",
            "format": "uri"
          },
          "wsUrl": {
            "type": "string"
          },
          "resultsUrl": {
            "type": "string",
            "format": "uri"
          },
          "rowsUrl": {
            "type": "string",
            "format": "uri"
          },
          "errorsUrl": {
            "type": "string",
            "format": "uri"
          },
          "eventsUrl": {
            "type": "string",
            "format": "uri"
          },
          "eventsExportUrl": {
            "type": "string",
            "format": "uri"
          },
          "logsUrl": {
            "type": "string",
            "format": "uri"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri"
          },
          "progressUrl": {
            "type": "string",
            "format": "uri"
          },
          "token": {
            "type": "string",
            "description": "Progress token for follow-up reads without the API key."
          },
          "exp": {
            "type": "integer",
            "description": "Unix timestamp when the progress token expires."
          }
        }
      },
      "JobSummary": {
        "type": "object",
        "required": [
          "job_id",
          "status",
          "total_rows",
          "processed_items",
          "succeeded_items",
          "failed_items",
          "created_at"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "submission_product": {
            "type": "string",
            "nullable": true
          },
          "submission_endpoint": {
            "type": "string",
            "nullable": true
          },
          "total_rows": {
            "type": "integer"
          },
          "processed_items": {
            "type": "integer"
          },
          "succeeded_items": {
            "type": "integer"
          },
          "failed_items": {
            "type": "integer"
          },
          "total_credits_consumed": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_progress_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "file_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "JobsListResponse": {
        "type": "object",
        "required": [
          "jobs",
          "limit",
          "offset"
        ],
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobSummary"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "JobSnapshot": {
        "type": "object",
        "required": [
          "job_id",
          "status",
          "total_rows",
          "processed_items",
          "succeeded_items",
          "failed_items",
          "skipped_items",
          "created_at"
        ],
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "submission_product": {
            "type": "string",
            "nullable": true
          },
          "submission_endpoint": {
            "type": "string",
            "nullable": true
          },
          "execution_mode": {
            "type": "string",
            "nullable": true
          },
          "total_rows": {
            "type": "integer"
          },
          "processed_items": {
            "type": "integer"
          },
          "succeeded_items": {
            "type": "integer"
          },
          "failed_items": {
            "type": "integer"
          },
          "skipped_items": {
            "type": "integer"
          },
          "total_credits_consumed": {
            "type": "string",
            "nullable": true
          },
          "total_duration_ms": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "last_progress_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "file_name": {
            "type": "string",
            "nullable": true
          },
          "callback_url": {
            "type": "string",
            "nullable": true
          },
          "callback_event": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "nullable": true
          },
          "output_transform": {
            "type": [
              "object",
              "null"
            ],
            "description": "Optional output transform applied to result rows."
          }
        }
      },
      "JobDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JobSnapshot"
          },
          {
            "type": "object",
            "properties": {
              "links": {
                "type": "object",
                "properties": {
                  "statusUrl": {
                    "type": "string"
                  },
                  "streamUrl": {
                    "type": "string"
                  },
                  "wsUrl": {
                    "type": "string"
                  },
                  "resultsUrl": {
                    "type": "string"
                  },
                  "rowsUrl": {
                    "type": "string"
                  },
                  "errorsUrl": {
                    "type": "string"
                  },
                  "eventsUrl": {
                    "type": "string"
                  },
                  "eventsExportUrl": {
                    "type": "string"
                  },
                  "logsUrl": {
                    "type": "string"
                  },
                  "downloadUrl": {
                    "type": "string"
                  },
                  "progressUrl": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  },
                  "exp": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        ]
      },
      "ReviewResponse": {
        "type": "object",
        "required": [
          "jobId",
          "status"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "canceled"
            ]
          }
        }
      },
      "JobRow": {
        "type": "object",
        "required": [
          "id",
          "row_index",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "row_index": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "lm_input": {
            "type": "object",
            "nullable": true
          },
          "lm_output": {
            "type": "object",
            "nullable": true
          },
          "credits_consumed": {
            "type": "string",
            "nullable": true
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "http_status_code": {
            "type": "integer",
            "nullable": true
          },
          "response_time_ms": {
            "type": "integer",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "JobRowsResponse": {
        "type": "object",
        "required": [
          "rows",
          "limit",
          "offset"
        ],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobRow"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PreviewCostRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10000,
            "items": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "string",
                  "description": "Required for mixed-product mode. Omitted for per-product mode."
                },
                "input": {
                  "type": "object",
                  "additionalProperties": true
                },
                "client_id": {
                  "type": "string"
                },
                "client_name": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "budget_user_id": {
            "type": "string",
            "description": "User ID to check against configured Credit Budgets."
          },
          "client_id": {
            "type": "string"
          },
          "client_name": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PreviewCostResponse": {
        "type": "object",
        "required": [
          "totalItems",
          "totalCredits",
          "estimatedCostUsd",
          "perProduct",
          "willExceedBudget"
        ],
        "properties": {
          "totalItems": {
            "type": "integer"
          },
          "creditsPerItem": {
            "type": "number",
            "nullable": true
          },
          "totalCredits": {
            "type": "number"
          },
          "estimatedCostUsd": {
            "type": "number"
          },
          "perProduct": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "string"
                },
                "items": {
                  "type": "integer"
                },
                "creditsPerItem": {
                  "type": "number"
                },
                "credits": {
                  "type": "number"
                }
              }
            }
          },
          "clientCreditRemaining": {
            "type": "string",
            "nullable": true
          },
          "willExceedBudget": {
            "type": "boolean"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "scope_value": {
            "type": "string"
          },
          "max_credits": {
            "type": "number"
          },
          "period": {
            "type": "string"
          },
          "alert_threshold_pct": {
            "type": "number"
          },
          "alert_email": {
            "type": "string"
          }
        }
      },
      "BudgetStatus": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "scopeValue": {
            "type": "string"
          },
          "maxCredits": {
            "type": "number"
          },
          "remainingCredits": {
            "type": "number"
          },
          "isExceeded": {
            "type": "boolean"
          }
        }
      },
      "SuppressionList": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - The request was malformed or contains invalid parameters.\n\n**Common causes:**\n- Missing required fields\n- Invalid field format (e.g., malformed email)\n- Invalid JSON syntax\n- Invalid parameter values\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Authentication failed.\n\n**Common causes:**\n- Missing X-API-Key header\n- Invalid or expired API key\n- Malformed API key\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MissingAuthenticationError"
                },
                {
                  "$ref": "#/components/schemas/InvalidApiKeyError"
                }
              ]
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - You don't have permission to access this resource.\n\n**Common causes:**\n- API key doesn't have access to this endpoint\n- Plan limitations\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/InsufficientPermissionsError"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment Required - Insufficient credits for this request.\n\n**Action required:** Add credits to your account at https://app.leadmagic.io/settings/billing\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/InsufficientCreditsError"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found - The requested resource could not be found.\n\n**Common causes:**\n- Profile doesn't exist or is not accessible\n- Company not found in our database\n- Invalid URL or identifier\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResourceNotFoundError"
                },
                {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              ]
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict - The request conflicts with the current state of the resource.\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ConflictError"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Too Many Requests - Rate limit exceeded.\n\n**Action required:** Check the `Retry-After` header for when to retry.\n\n**Headers returned:**\n- `Retry-After`: Seconds until you can retry\n- `RateLimit-Limit`: Your limit per minute\n- `RateLimit-Remaining`: Remaining requests this minute\n- `RateLimit-Reset`: Seconds until limit resets\n",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds to wait before retrying"
          },
          "RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Maximum requests per minute"
          },
          "RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Remaining requests this minute"
          },
          "RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until limit resets"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitExceededError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error - Something went wrong on our end.\n\n**Action required:** Wait 30 seconds and retry. If the problem persists, contact support@leadmagic.io\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway - Error communicating with an upstream service.\n\n**Action required:** Retry after a brief delay.\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ExternalServiceError"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable - The service is temporarily unavailable.\n\n**Action required:** Retry after a brief delay.\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ServiceUnavailableError"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Credits",
      "description": "Manage and check your credit balance"
    },
    {
      "name": "Analytics",
      "description": "Monitor your API usage with comprehensive analytics endpoints (FREE - no credits consumed)"
    },
    {
      "name": "People Enrichment",
      "description": "Find and validate contact information for individuals"
    },
    {
      "name": "Company Data",
      "description": "Discover company information and intelligence"
    },
    {
      "name": "Jobs Data",
      "description": "Search job listings and detect career changes"
    },
    {
      "name": "Ads Data",
      "description": "Search advertising data across platforms"
    },
    {
      "name": "Bulk Jobs",
      "description": "Submit and manage bulk enrichment jobs for processing CSV files at scale"
    },
    {
      "name": "Batch",
      "description": "Campaign-oriented batch enrichment with budgets, clients, suppression lists, and webhooks"
    },
    {
      "name": "Cost Control",
      "description": "Preview costs, manage credit budgets, and maintain suppression lists to control spend"
    }
  ],
  "paths": {
    "/v1/credits": {
      "get": {
        "summary": "Check Credits",
        "description": "Check your current credit balance.",
        "operationId": "check-credits",
        "tags": [
          "Credits"
        ],
        "responses": {
          "200": {
            "description": "Successful credits retrieval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number",
                      "example": 2200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/dashboard": {
      "get": {
        "summary": "Dashboard Overview",
        "description": "Get a real-time snapshot of your account including credits, rate limits, and usage statistics.",
        "operationId": "analytics-dashboard",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Dashboard data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "user_abc123"
                        },
                        "email": {
                          "type": "string",
                          "example": "developer@leadmagic.io"
                        }
                      }
                    },
                    "credits": {
                      "type": "object",
                      "properties": {
                        "current": {
                          "type": "number",
                          "example": 15432.5
                        },
                        "formatted": {
                          "type": "string",
                          "example": "$154.33"
                        }
                      }
                    },
                    "rate_limit": {
                      "type": "object",
                      "properties": {
                        "minute": {
                          "type": "object",
                          "properties": {
                            "limit": {
                              "type": "integer",
                              "example": 600
                            },
                            "used": {
                              "type": "integer",
                              "example": 45
                            },
                            "remaining": {
                              "type": "integer",
                              "example": 555
                            },
                            "utilization": {
                              "type": "number",
                              "example": 15
                            }
                          }
                        },
                        "daily": {
                          "type": "object",
                          "properties": {
                            "limit": {
                              "type": "integer",
                              "example": 500000
                            },
                            "used": {
                              "type": "integer",
                              "example": 12500
                            },
                            "remaining": {
                              "type": "integer",
                              "example": 487500
                            },
                            "utilization": {
                              "type": "number",
                              "example": 2.5
                            }
                          }
                        }
                      }
                    },
                    "concurrency": {
                      "type": "object",
                      "properties": {
                        "current": {
                          "type": "integer",
                          "example": 0
                        },
                        "peak": {
                          "type": "integer",
                          "example": 23
                        },
                        "active_reservations": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "today": {
                          "type": "object",
                          "properties": {
                            "requests": {
                              "type": "integer",
                              "example": 1250
                            },
                            "credits": {
                              "type": "number",
                              "example": 875.5
                            },
                            "chargeable_requests": {
                              "type": "integer",
                              "example": 1100
                            },
                            "chargeable_rate": {
                              "type": "number",
                              "example": 88
                            },
                            "unique_products": {
                              "type": "integer",
                              "example": 5
                            }
                          }
                        },
                        "this_week": {
                          "type": "object",
                          "properties": {
                            "requests": {
                              "type": "integer",
                              "example": 8500
                            },
                            "credits": {
                              "type": "number",
                              "example": 5200.25
                            },
                            "chargeable_requests": {
                              "type": "integer",
                              "example": 7200
                            },
                            "chargeable_rate": {
                              "type": "number",
                              "example": 84.7
                            },
                            "unique_products": {
                              "type": "integer",
                              "example": 8
                            }
                          }
                        },
                        "this_month": {
                          "type": "object",
                          "properties": {
                            "requests": {
                              "type": "integer",
                              "example": 45000
                            },
                            "credits": {
                              "type": "number",
                              "example": 28500
                            },
                            "chargeable_requests": {
                              "type": "integer",
                              "example": 38000
                            },
                            "chargeable_rate": {
                              "type": "number",
                              "example": 84.4
                            },
                            "unique_products": {
                              "type": "integer",
                              "example": 12
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/usage": {
      "get": {
        "summary": "Usage Summary",
        "description": "Get daily usage summary with requests, credits consumed, and chargeable rates.",
        "operationId": "analytics-usage",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to include (1-90)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-01-02"
                        },
                        "end": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-02-01"
                        },
                        "days": {
                          "type": "integer",
                          "example": 30
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_requests": {
                          "type": "integer",
                          "example": 45000
                        },
                        "chargeable_requests": {
                          "type": "integer",
                          "example": 38000
                        },
                        "total_credits": {
                          "type": "number",
                          "example": 28500
                        },
                        "avg_credits_per_request": {
                          "type": "number",
                          "example": 0.63
                        },
                        "chargeable_rate": {
                          "type": "number",
                          "example": 84.4
                        },
                        "unique_products": {
                          "type": "integer",
                          "example": 12
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2024-02-01"
                          },
                          "total_requests": {
                            "type": "integer",
                            "example": 1250
                          },
                          "chargeable_requests": {
                            "type": "integer",
                            "example": 1100
                          },
                          "total_credits": {
                            "type": "number",
                            "example": 875.5
                          },
                          "unique_products_used": {
                            "type": "integer",
                            "example": 5
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/products": {
      "get": {
        "summary": "Products Breakdown",
        "description": "Get per-product usage with requests, credits, and success rates.",
        "operationId": "analytics-products",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to include (1-90)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products breakdown retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string",
                          "format": "date"
                        },
                        "end": {
                          "type": "string",
                          "format": "date"
                        },
                        "days": {
                          "type": "integer"
                        }
                      }
                    },
                    "products": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "total_requests": {
                            "type": "integer",
                            "example": 20000
                          },
                          "total_credits": {
                            "type": "number",
                            "example": 1000
                          },
                          "successful_requests": {
                            "type": "integer",
                            "example": 19500
                          },
                          "failed_requests": {
                            "type": "integer",
                            "example": 500
                          },
                          "success_rate": {
                            "type": "number",
                            "example": 97.5
                          },
                          "avg_credits_per_request": {
                            "type": "number",
                            "example": 0.25
                          }
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/credits": {
      "get": {
        "summary": "Credit History",
        "description": "Get credit consumption history with daily breakdown.",
        "operationId": "analytics-credits",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to include (1-90)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string",
                          "format": "date"
                        },
                        "end": {
                          "type": "string",
                          "format": "date"
                        },
                        "days": {
                          "type": "integer"
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_credits": {
                          "type": "number",
                          "example": 28500
                        },
                        "total_requests": {
                          "type": "integer",
                          "example": 45000
                        },
                        "chargeable_requests": {
                          "type": "integer",
                          "example": 38000
                        },
                        "avg_credits_per_request": {
                          "type": "number",
                          "example": 0.63
                        },
                        "chargeable_rate": {
                          "type": "number",
                          "example": 84.4
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "total_credits": {
                            "type": "number"
                          },
                          "total_requests": {
                            "type": "integer"
                          },
                          "chargeable_requests": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/summary": {
      "get": {
        "summary": "All-Time Summary",
        "description": "Get lifetime statistics for your account.",
        "operationId": "analytics-summary",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_api_requests": {
                      "type": "integer",
                      "example": 1250000
                    },
                    "total_credits_consumed": {
                      "type": "number",
                      "example": 425000.5
                    },
                    "unique_products_used": {
                      "type": "integer",
                      "example": 15
                    },
                    "successful_requests": {
                      "type": "integer",
                      "example": 1150000
                    },
                    "failed_requests": {
                      "type": "integer",
                      "example": 100000
                    },
                    "success_rate": {
                      "type": "number",
                      "example": 92
                    },
                    "avg_response_time_ms": {
                      "type": "number",
                      "example": 245
                    },
                    "first_request": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "example": "2023-06-15T10:30:00.000Z"
                    },
                    "last_request": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "example": "2024-02-01T14:22:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/daily": {
      "get": {
        "summary": "Daily Metrics",
        "description": "Get detailed daily metrics with performance data.",
        "operationId": "analytics-daily",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to include (1-90)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string",
                          "format": "date"
                        },
                        "end": {
                          "type": "string",
                          "format": "date"
                        },
                        "days": {
                          "type": "integer"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "total_requests": {
                            "type": "integer"
                          },
                          "successful_requests": {
                            "type": "integer"
                          },
                          "failed_requests": {
                            "type": "integer"
                          },
                          "total_credits": {
                            "type": "number"
                          },
                          "p50_latency_ms": {
                            "type": "number"
                          },
                          "p95_latency_ms": {
                            "type": "number"
                          },
                          "p99_latency_ms": {
                            "type": "number"
                          },
                          "error_rate": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/analytics/day/{date}": {
      "get": {
        "summary": "Day Breakdown",
        "description": "Get per-product breakdown for a specific day.",
        "operationId": "analytics-day",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Day breakdown retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-02-01"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_credits": {
                          "type": "number",
                          "example": 875.5
                        },
                        "total_requests": {
                          "type": "integer",
                          "example": 1250
                        },
                        "products_count": {
                          "type": "integer",
                          "example": 8
                        }
                      }
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product_id": {
                            "type": "string",
                            "example": "email_validation"
                          },
                          "requests": {
                            "type": "integer",
                            "example": 500
                          },
                          "credits": {
                            "type": "number",
                            "example": 25
                          },
                          "credits_percentage": {
                            "type": "number",
                            "example": 2.86
                          },
                          "avg_credits_per_request": {
                            "type": "number",
                            "example": 0.25
                          },
                          "max_credits": {
                            "type": "number",
                            "example": 0.25
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/people/email-validation": {
      "post": {
        "summary": "Email Validation",
        "description": "Validate an email address for deliverability and get company enrichment data.",
        "operationId": "email-validation",
        "tags": [
          "People Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to validate",
                    "example": "alex.rivera@example.com"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "alex.rivera@example.com"
                    },
                    "email_status": {
                      "type": "string",
                      "example": "valid"
                    },
                    "credits_consumed": {
                      "type": "number",
                      "example": 0.25
                    },
                    "message": {
                      "type": "string",
                      "example": "Email is valid."
                    },
                    "mx_record": {
                      "type": "string",
                      "example": "mx1.example.com"
                    },
                    "mx_provider": {
                      "type": "string",
                      "example": "Example Mail"
                    },
                    "mx_gateway": {
                      "type": "string",
                      "nullable": true,
                      "description": "Security gateway vendor name",
                      "example": null
                    },
                    "mx_gateway_type": {
                      "type": "string",
                      "nullable": true,
                      "description": "Security gateway type",
                      "example": null
                    },
                    "mx_security_gateway": {
                      "type": "boolean",
                      "example": false
                    },
                    "company_name": {
                      "type": "string",
                      "example": "Leadmagic"
                    },
                    "company_industry": {
                      "type": "string",
                      "example": "Internet"
                    },
                    "company_size": {
                      "type": "string",
                      "example": "11-50"
                    },
                    "company_founded": {
                      "type": "integer",
                      "example": 2022
                    },
                    "company_type": {
                      "type": "string",
                      "example": "Private"
                    },
                    "company_location": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Boston, Massachusetts, United States"
                        },
                        "locality": {
                          "type": "string",
                          "example": "Boston"
                        },
                        "region": {
                          "type": "string",
                          "example": "Massachusetts"
                        },
                        "metro": {
                          "type": "string",
                          "example": "Boston"
                        },
                        "country": {
                          "type": "string",
                          "example": "United States"
                        },
                        "continent": {
                          "type": "string",
                          "example": "North America"
                        },
                        "street_address": {
                          "type": "string",
                          "example": "1 Seaport Lane"
                        },
                        "address_line_2": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "postal_code": {
                          "type": "string",
                          "example": "02210"
                        },
                        "geo": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "company_linkedin_url": {
                      "type": "string",
                      "description": "Legacy field name for the B2B company profile.",
                      "example": "example.com/company/acme"
                    },
                    "company_linkedin_id": {
                      "type": "string",
                      "example": "75153174"
                    },
                    "company_facebook_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "company_twitter_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/people/email-finder": {
      "post": {
        "summary": "Email Finder",
        "description": "Find a person's work email address using their name and company information.",
        "operationId": "email-finder",
        "tags": [
          "People Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "First name of the person (optional if full_name provided)",
                    "default": "Alex"
                  },
                  "last_name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Last name of the person (optional)",
                    "default": "Rivera"
                  },
                  "full_name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Full name of the person (alternative to first_name + last_name)",
                    "default": "Alex Rivera"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Company domain name (required if company_name not provided)",
                    "default": "leadmagic.io"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Company name (required if domain not provided)",
                    "default": "LeadMagic"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with email details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "alex.rivera@example.com"
                    },
                    "status": {
                      "type": "string",
                      "example": "valid"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "example": 1
                    },
                    "message": {
                      "type": "string",
                      "example": "Valid email found."
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Alex"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Rivera"
                    },
                    "domain": {
                      "type": "string",
                      "example": "leadmagic.io"
                    },
                    "mx_record": {
                      "type": "string",
                      "example": "alt3.mx1.example.com"
                    },
                    "mx_provider": {
                      "type": "string",
                      "example": "Example Mail"
                    },
                    "mx_security_gateway": {
                      "type": "boolean",
                      "example": false
                    },
                    "has_mx": {
                      "type": "boolean",
                      "description": "Whether the domain has MX records",
                      "example": true
                    },
                    "mx_records_full": {
                      "type": "array",
                      "description": "Complete list of MX records with priorities",
                      "items": {
                        "type": "object",
                        "properties": {
                          "priority": {
                            "type": "integer",
                            "example": 10
                          },
                          "exchange": {
                            "type": "string",
                            "example": "mx1.example.com"
                          }
                        }
                      }
                    },
                    "company_name": {
                      "type": "string",
                      "example": "Leadmagic"
                    },
                    "company_industry": {
                      "type": "string",
                      "example": ""
                    },
                    "company_size": {
                      "type": "string",
                      "example": "11-50"
                    },
                    "company_founded": {
                      "type": "integer",
                      "example": 2022
                    },
                    "company_location": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "boston, massachusetts, united states"
                        },
                        "locality": {
                          "type": "string",
                          "example": "boston"
                        },
                        "region": {
                          "type": "string",
                          "example": "massachusetts"
                        },
                        "metro": {
                          "type": "string",
                          "example": "boston, massachusetts"
                        },
                        "country": {
                          "type": "string",
                          "example": "united states"
                        },
                        "continent": {
                          "type": "string",
                          "example": "north america"
                        },
                        "street_address": {
                          "type": "string",
                          "example": "1 seaport lane"
                        },
                        "address_line_2": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string",
                          "example": "02210"
                        },
                        "geo": {
                          "type": "string",
                          "example": "42.35,-71.06"
                        }
                      }
                    },
                    "company_profile_url": {
                      "type": "string",
                      "example": "leadmagichq"
                    },
                    "company_profile_id": {
                      "type": "string",
                      "example": "75153174"
                    },
                    "company_facebook_url": {
                      "type": "string",
                      "example": ""
                    },
                    "company_twitter_url": {
                      "type": "string",
                      "example": ""
                    },
                    "company_type": {
                      "type": "string",
                      "example": "private"
                    },
                    "employment_verified": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether the employment at the domain was verified",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/people/personal-email-finder": {
      "post": {
        "summary": "Personal Email Finder",
        "description": "Provide a B2B Profile URL and get back the personal emails of the person.",
        "operationId": "personal-email-finder",
        "tags": [
          "People Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "description": "Professional profile URL or identifier",
                    "default": "alex-rivera"
                  }
                },
                "required": [
                  "profile_url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with personal email details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile_url": {
                      "type": "string",
                      "example": "alex-rivera"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "example": 2
                    },
                    "message": {
                      "type": "string",
                      "example": "Personal Email Found."
                    },
                    "name": {
                      "type": "string",
                      "example": "Alex Rivera"
                    },
                    "first_personal_email": {
                      "type": "string",
                      "example": "alex-riveral@gmail.com"
                    },
                    "personal_emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "alex-riveral@gmail.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
[...]
