openapi: 3.1.0
info:
  title: LeadMagic API
  version: 1.4.35
  description: LeadMagic public REST API for B2B enrichment and search. Use X-API-Key authentication. Examples are synthetic and do not describe real people or customers. Consult https://leadmagic.io/docs for current product behavior, https://leadmagic.io/pricing for pricing, and the published service terms for contractual conditions.
  contact:
    name: LeadMagic Support
    email: support@leadmagic.io
    url: https://leadmagic.io
  termsOfService: https://leadmagic.io/legal/terms
servers:
  - url: https://api.leadmagic.io
    description: Production API Server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your LeadMagic API key. Header name is case-insensitive (X-API-Key, X-API-KEY, x-api-key all work).
  parameters:
    BulkJobId:
      name: jobId
      in: path
      required: true
      description: UUID identifier of the bulk job.
      schema:
        type: string
        format: uuid
  headers:
    RateLimitLimit:
      description: Effective organization request ceiling for the current minute.
      schema:
        type: integer
    RateLimitRemaining:
      description: Requests remaining in the effective organization minute window.
      schema:
        type: integer
    RateLimitReset:
      description: Unix epoch second when the current minute window resets.
      schema:
        type: integer
    SearchRpsLimit:
      description: Effective organization sustained Search RPS ceiling.
      schema:
        type: integer
    SearchRpsRemaining:
      description: Tokens remaining in the current sustained Search RPS window.
      schema:
        type: integer
    SearchRpsReset:
      description: Unix epoch second when the sustained Search RPS window refills.
      schema:
        type: integer
  schemas:
    ErrorResponse:
      type: object
      description: RFC 9457 Problem Details error response
      required:
        - success
        - errors
      properties:
        success:
          type: boolean
          description: Always false for error responses
        errors:
          type: array
          description: Array of error details (typically one, but can be multiple)
          items:
            $ref: "#/components/schemas/ErrorDetail"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ErrorDetail:
      type: object
      description: RFC 9457 compliant error detail
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: RFC 9457 - URI reference identifying the error type
        title:
          type: string
          description: RFC 9457 - Short human-readable summary
        status:
          type: integer
          description: RFC 9457 - HTTP status code
        detail:
          type: string
          description: RFC 9457 - Human-readable explanation specific to this occurrence
        instance:
          type: string
          format: uri-reference
          description: RFC 9457 - URI reference for this specific occurrence
        code:
          type: string
          description: Machine-readable error code for programmatic handling
        param:
          type: array
          description: Parameters that caused the error
          items:
            type: string
        action:
          type: string
          description: Suggested action to resolve the error
        docs:
          type: string
          format: uri
          description: Link to relevant documentation
        context:
          type: object
          description: Additional context specific to this error type
          additionalProperties: true
    ResponseMeta:
      type: object
      description: Metadata included in all responses
      properties:
        request_id:
          type: string
          format: uuid
          description: Unique identifier for this request (use for debugging/support)
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the response was generated
        environment:
          type: string
          description: API environment (production, staging)
    ValidationError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    MissingAuthenticationError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    InvalidApiKeyError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    InsufficientCreditsError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    ResourceNotFoundError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    ProfileNotFoundError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    RateLimitExceededError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
    EmployeeFinderMessages:
      type: string
      description: Possible success messages for employee finder
      enum:
        - Employees found.
        - No employees found for this company.
    BulkSubmissionRequest:
      type: object
      description: Request body for submitting a bulk enrichment job via POST /bulk/submit. Provide exactly one of rows, csv, fileUrl, or scrape.
      required:
        - product
      properties:
        product:
          type: string
          description: The enrichment product to run on each row (e.g. email_finder, email_validation, mobile_finder, profile_search, company_search).
        rows:
          type: array
          description: JSON array of row objects for /bulk/json (or /bulk/submit auto-detect). Each row is an object whose keys match the input fields the selected product expects.
          items:
            type: object
            additionalProperties: true
        csv:
          type: string
          description: Inline CSV string for /bulk/csv (or /bulk/submit).
        fileUrl:
          type: string
          description: Public HTTPS URL to a remote file (CSV, JSON, JSONL). SSRF-validated server-side.
          format: uri
        format:
          type: string
          description: File format for fileUrl submissions.
          enum:
            - csv
            - json
            - jsonl
        scrape:
          type: object
          description: Browser-rendering config for /bulk/scrape (or /bulk/submit).
          properties:
            url:
              type: string
              format: uri
            mode:
              type: string
              enum:
                - scrape
                - crawl
                - content
                - markdown
                - links
                - json
                - snapshot
            extractPrompt:
              type: string
            render:
              type: boolean
            maxPages:
              type: integer
              minimum: 1
              maximum: 50
            maxDepth:
              type: integer
              minimum: 1
              maximum: 10
        inputMapping:
          type: object
          description: Optional column mapping from CSV/JSON columns to product input fields.
          additionalProperties:
            type: object
            properties:
              source:
                type: string
              column:
                type: string
              value: {}
        callback:
          type: object
          description: Webhook configuration.
          properties:
            url:
              type: string
              format: uri
              description: HTTPS URL to receive a POST on completion/failure. SSRF-validated.
            events:
              type: array
              items:
                type: string
                enum:
                  - completed
                  - failed
                  - canceled
                  - any
                  - job.completed
                  - job.failed
                  - job.canceled
              default:
                - completed
            inlineResults:
              type: boolean
            secret:
              type: string
            metadata:
              type: object
              additionalProperties: true
        idempotencyKey:
          type: string
          description: Optional idempotency key for safe retries.
        metadata:
          type: object
          additionalProperties: true
        presetId:
          type: string
        outputTransform:
          type: object
          properties:
            model:
              type: string
            prompt:
              type: string
            jsonSchema: {}
        priority:
          type: integer
          minimum: -1000
          maximum: 1000
        fileName:
          type: string
    BulkSubmissionResponse:
      type: object
      description: Response for a successful bulk job submission. HTTP 202 Accepted.
      required:
        - jobId
        - product
        - totalRows
        - status
        - queue
      properties:
        jobId:
          type: string
          format: uuid
          description: UUID identifier for the bulk job.
        product:
          type: string
          description: The enrichment product this job is running.
        endpoint:
          type: string
          nullable: true
        totalRows:
          type: integer
          description: Total number of rows in the submission.
        status:
          type: string
          description: Always 'uploaded' for a freshly submitted job.
        queue:
          type: object
          properties:
            position:
              type: integer
            started:
              type: boolean
            queuedAt:
              type: string
              format: date-time
        statusUrl:
          type: string
          format: uri
        streamUrl:
          type: string
          format: uri
        wsUrl:
          type: string
        resultsUrl:
          type: string
          format: uri
        rowsUrl:
          type: string
          format: uri
        errorsUrl:
          type: string
          format: uri
        eventsUrl:
          type: string
          format: uri
        eventsExportUrl:
          type: string
          format: uri
        logsUrl:
          type: string
          format: uri
        downloadUrl:
          type: string
          format: uri
        progressUrl:
          type: string
          format: uri
        token:
          type: string
          description: Progress token for follow-up reads without the API key.
        exp:
          type: integer
          description: Unix timestamp when the progress token expires.
    JobSummary:
      type: object
      required:
        - job_id
        - status
        - total_rows
        - processed_items
        - succeeded_items
        - failed_items
        - created_at
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
        products:
          type: array
          items:
            type: string
          nullable: true
        submission_product:
          type: string
          nullable: true
        submission_endpoint:
          type: string
          nullable: true
        total_rows:
          type: integer
        processed_items:
          type: integer
        succeeded_items:
          type: integer
        failed_items:
          type: integer
        total_credits_consumed:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        last_progress_at:
          type: string
          format: date-time
          nullable: true
        file_name:
          type: string
          nullable: true
    JobsListResponse:
      type: object
      required:
        - jobs
        - limit
        - offset
      properties:
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/JobSummary"
        limit:
          type: integer
        offset:
          type: integer
    JobSnapshot:
      type: object
      required:
        - job_id
        - status
        - total_rows
        - processed_items
        - succeeded_items
        - failed_items
        - skipped_items
        - created_at
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
        products:
          type: array
          items:
            type: string
          nullable: true
        submission_product:
          type: string
          nullable: true
        submission_endpoint:
          type: string
          nullable: true
        execution_mode:
          type: string
          nullable: true
        total_rows:
          type: integer
        processed_items:
          type: integer
        succeeded_items:
          type: integer
        failed_items:
          type: integer
        skipped_items:
          type: integer
        total_credits_consumed:
          type: string
          nullable: true
        total_duration_ms:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        last_progress_at:
          type: string
          format: date-time
          nullable: true
        file_name:
          type: string
          nullable: true
        callback_url:
          type: string
          nullable: true
        callback_event:
          type: string
          nullable: true
        priority:
          type: integer
          nullable: true
        output_transform:
          type:
            - object
            - "null"
          description: Optional output transform applied to result rows.
    JobDetailResponse:
      allOf:
        - $ref: "#/components/schemas/JobSnapshot"
        - type: object
          properties:
            links:
              type: object
              properties:
                statusUrl:
                  type: string
                streamUrl:
                  type: string
                wsUrl:
                  type: string
                resultsUrl:
                  type: string
                rowsUrl:
                  type: string
                errorsUrl:
                  type: string
                eventsUrl:
                  type: string
                eventsExportUrl:
                  type: string
                logsUrl:
                  type: string
                downloadUrl:
                  type: string
                progressUrl:
                  type: string
                token:
                  type: string
                exp:
                  type: integer
    ReviewResponse:
      type: object
      required:
        - jobId
        - status
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - running
            - canceled
    JobRow:
      type: object
      required:
        - id
        - row_index
        - status
      properties:
        id:
          type: string
          format: uuid
        row_index:
          type: integer
        status:
          type: string
        lm_input:
          type: object
          nullable: true
        lm_output:
          type: object
          nullable: true
        credits_consumed:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        http_status_code:
          type: integer
          nullable: true
        response_time_ms:
          type: integer
          nullable: true
        completed_at:
          type: string
          nullable: true
    JobRowsResponse:
      type: object
      required:
        - rows
        - limit
        - offset
      properties:
        rows:
          type: array
          items:
            $ref: "#/components/schemas/JobRow"
        limit:
          type: integer
        offset:
          type: integer
    PreviewCostRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 10000
          items:
            type: object
            properties:
              product:
                type: string
                description: Required for mixed-product mode. Omitted for per-product mode.
              input:
                type: object
                additionalProperties: true
              client_id:
                type: string
              client_name:
                type: string
              metadata:
                type: object
                additionalProperties: true
        budget_user_id:
          type: string
          description: User ID to check against configured Credit Budgets.
        client_id:
          type: string
        client_name:
          type: string
        metadata:
          type: object
          additionalProperties: true
    PreviewCostResponse:
      type: object
      required:
        - totalItems
        - totalCredits
        - estimatedCostUsd
        - perProduct
        - willExceedBudget
      properties:
        totalItems:
          type: integer
        creditsPerItem:
          type: number
          nullable: true
        totalCredits:
          type: number
        estimatedCostUsd:
          type: number
        perProduct:
          type: array
          items:
            type: object
            properties:
              product:
                type: string
              items:
                type: integer
              creditsPerItem:
                type: number
              credits:
                type: number
        clientCreditRemaining:
          type: string
          nullable: true
        willExceedBudget:
          type: boolean
    Budget:
      type: object
      properties:
        id:
          type: string
        scope:
          type: string
        scope_value:
          type: string
        max_credits:
          type: number
        period:
          type: string
        alert_threshold_pct:
          type: number
        alert_email:
          type: string
    BudgetStatus:
      type: object
      properties:
        scope:
          type: string
        scopeValue:
          type: string
        maxCredits:
          type: number
        remainingCredits:
          type: number
        isExceeded:
          type: boolean
    SuppressionList:
      type: object
      properties:
        list_id:
          type: string
        count:
          type: integer
        created_at:
          type: string
          format: date-time
  responses:
    BadRequest:
      description: |
        Bad Request - The request was malformed or contains invalid parameters.

        **Common causes:**
        - Missing required fields
        - Invalid field format (e.g., malformed email)
        - Invalid JSON syntax
        - Invalid parameter values
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/ValidationError"
    Unauthorized:
      description: |
        Unauthorized - Authentication failed.

        **Common causes:**
        - Missing X-API-Key header
        - Invalid or expired API key
        - Malformed API key
      content:
        application/problem+json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/MissingAuthenticationError"
              - $ref: "#/components/schemas/InvalidApiKeyError"
    PaymentRequired:
      description: |
        Payment Required - Insufficient credits for this request.

        **Action required:** Add credits to your account at https://app.leadmagic.io/settings/billing
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/InsufficientCreditsError"
    NotFound:
      description: |
        Not Found - The requested resource could not be found.

        **Common causes:**
        - Profile doesn't exist or is not accessible
        - Company not found in our database
        - Invalid URL or identifier
      content:
        application/problem+json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/ResourceNotFoundError"
              - $ref: "#/components/schemas/ProfileNotFoundError"
    RateLimitExceeded:
      description: |
        Too Many Requests - Rate limit exceeded.

        **Action required:** Check the `Retry-After` header for when to retry.

        **Headers returned:**
        - `Retry-After`: Seconds until you can retry
        - `RateLimit-Limit`: Your limit per minute
        - `RateLimit-Remaining`: Remaining requests this minute
        - `RateLimit-Reset`: Seconds until limit resets
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
        RateLimit-Limit:
          schema:
            type: integer
          description: Maximum requests per minute
        RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests this minute
        RateLimit-Reset:
          schema:
            type: integer
          description: Seconds until limit resets
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/RateLimitExceededError"
    InternalServerError:
      description: |
        Internal Server Error - Something went wrong on our end.

        **Action required:** Wait 30 seconds and retry. If the problem persists, contact support@leadmagic.io
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/InternalServerError"
security:
  - ApiKeyAuth: []
tags:
  - name: Credits
    description: Manage and check your credit balance
  - name: Analytics
    description: Monitor your API usage with comprehensive analytics endpoints (FREE - no credits consumed)
  - name: People Enrichment
    description: Find and validate contact information for individuals
  - name: Company Data
    description: Discover company information and intelligence
  - name: Jobs Data
    description: Search job listings and detect career changes
  - name: Ads Data
    description: Search advertising data across platforms
  - name: Bulk Jobs
    description: Submit and manage bulk enrichment jobs for processing CSV files at scale
  - name: Batch
    description: Campaign-oriented batch enrichment with budgets, clients, suppression lists, and webhooks
  - name: Cost Control
    description: Preview costs, manage credit budgets, and maintain suppression lists to control spend
paths:
  /v1/credits:
    get:
      summary: Check Credits
      description: Check your current credit balance.
      operationId: check-credits
      tags:
        - Credits
      responses:
        "200":
          description: Successful credits retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  credits:
                    type: number
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/dashboard:
    get:
      summary: Dashboard Overview
      description: Get a real-time snapshot of your account including credits, rate limits, and usage statistics.
      operationId: analytics-dashboard
      tags:
        - Analytics
      responses:
        "200":
          description: Dashboard data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                  credits:
                    type: object
                    properties:
                      current:
                        type: number
                      formatted:
                        type: string
                  rate_limit:
                    type: object
                    properties:
                      minute:
                        type: object
                        properties:
                          limit:
                            type: integer
                          used:
                            type: integer
                          remaining:
                            type: integer
                          utilization:
                            type: number
                      daily:
                        type: object
                        properties:
                          limit:
                            type: integer
                          used:
                            type: integer
                          remaining:
                            type: integer
                          utilization:
                            type: number
                  concurrency:
                    type: object
                    properties:
                      current:
                        type: integer
                      peak:
                        type: integer
                      active_reservations:
                        type: integer
                  stats:
                    type: object
                    properties:
                      today:
                        type: object
                        properties:
                          requests:
                            type: integer
                          credits:
                            type: number
                          chargeable_requests:
                            type: integer
                          chargeable_rate:
                            type: number
                          unique_products:
                            type: integer
                      this_week:
                        type: object
                        properties:
                          requests:
                            type: integer
                          credits:
                            type: number
                          chargeable_requests:
                            type: integer
                          chargeable_rate:
                            type: number
                          unique_products:
                            type: integer
                      this_month:
                        type: object
                        properties:
                          requests:
                            type: integer
                          credits:
                            type: number
                          chargeable_requests:
                            type: integer
                          chargeable_rate:
                            type: number
                          unique_products:
                            type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/usage:
    get:
      summary: Usage Summary
      description: Get daily usage summary with requests, credits consumed, and chargeable rates.
      operationId: analytics-usage
      tags:
        - Analytics
      parameters:
        - name: days
          in: query
          description: Number of days to include (1-90)
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        "200":
          description: Usage summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                      days:
                        type: integer
                  summary:
                    type: object
                    properties:
                      total_requests:
                        type: integer
                      chargeable_requests:
                        type: integer
                      total_credits:
                        type: number
                      avg_credits_per_request:
                        type: number
                      chargeable_rate:
                        type: number
                      unique_products:
                        type: integer
                  daily:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        total_requests:
                          type: integer
                        chargeable_requests:
                          type: integer
                        total_credits:
                          type: number
                        unique_products_used:
                          type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/products:
    get:
      summary: Products Breakdown
      description: Get per-product usage with requests, credits, and success rates.
      operationId: analytics-products
      tags:
        - Analytics
      parameters:
        - name: days
          in: query
          description: Number of days to include (1-90)
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        "200":
          description: Products breakdown retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                      days:
                        type: integer
                  products:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        total_requests:
                          type: integer
                        total_credits:
                          type: number
                        successful_requests:
                          type: integer
                        failed_requests:
                          type: integer
                        success_rate:
                          type: number
                        avg_credits_per_request:
                          type: number
                  daily:
                    type: array
                    items:
                      type: object
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/credits:
    get:
      summary: Credit History
      description: Get credit consumption history with daily breakdown.
      operationId: analytics-credits
      tags:
        - Analytics
      parameters:
        - name: days
          in: query
          description: Number of days to include (1-90)
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        "200":
          description: Credit history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                      days:
                        type: integer
                  summary:
                    type: object
                    properties:
                      total_credits:
                        type: number
                      total_requests:
                        type: integer
                      chargeable_requests:
                        type: integer
                      avg_credits_per_request:
                        type: number
                      chargeable_rate:
                        type: number
                  daily:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        total_credits:
                          type: number
                        total_requests:
                          type: integer
                        chargeable_requests:
                          type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/summary:
    get:
      summary: All-Time Summary
      description: Get lifetime statistics for your account.
      operationId: analytics-summary
      tags:
        - Analytics
      parameters:
        - name: start_date
          in: query
          description: Start date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date (YYYY-MM-DD)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Summary statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_api_requests:
                    type: integer
                  total_credits_consumed:
                    type: number
                  unique_products_used:
                    type: integer
                  successful_requests:
                    type: integer
                  failed_requests:
                    type: integer
                  success_rate:
                    type: number
                  avg_response_time_ms:
                    type: number
                  first_request:
                    type: string
                    format: date-time
                    nullable: true
                  last_request:
                    type: string
                    format: date-time
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/daily:
    get:
      summary: Daily Metrics
      description: Get detailed daily metrics with performance data.
      operationId: analytics-daily
      tags:
        - Analytics
      parameters:
        - name: days
          in: query
          description: Number of days to include (1-90)
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        "200":
          description: Daily metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                      days:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        total_requests:
                          type: integer
                        successful_requests:
                          type: integer
                        failed_requests:
                          type: integer
                        total_credits:
                          type: number
                        p50_latency_ms:
                          type: number
                        p95_latency_ms:
                          type: number
                        p99_latency_ms:
                          type: number
                        error_rate:
                          type: number
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/analytics/day/{date}:
    get:
      summary: Day Breakdown
      description: Get per-product breakdown for a specific day.
      operationId: analytics-day
      tags:
        - Analytics
      parameters:
        - name: date
          in: path
          required: true
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Day breakdown retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  summary:
                    type: object
                    properties:
                      total_credits:
                        type: number
                      total_requests:
                        type: integer
                      products_count:
                        type: integer
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                        requests:
                          type: integer
                        credits:
                          type: number
                        credits_percentage:
                          type: number
                        avg_credits_per_request:
                          type: number
                        max_credits:
                          type: number
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/people/email-validation:
    post:
      summary: Email Validation
      description: Validate an email address for deliverability and get company enrichment data.
      operationId: email-validation
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to validate
              required:
                - email
            examples:
              synthetic:
                summary: Fictional documentation input; not a live customer fixture
                value:
                  email: person@example.com
      responses:
        "200":
          description: Successful validation
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  email_status:
                    type: string
                  credits_consumed:
                    type: number
                  message:
                    type: string
                  mx_record:
                    type: string
                  mx_provider:
                    type: string
                  mx_gateway:
                    type: string
                    nullable: true
                    description: Security gateway vendor name
                  mx_gateway_type:
                    type: string
                    nullable: true
                    description: Security gateway type
                  mx_security_gateway:
                    type: boolean
                  company_name:
                    type: string
                  company_industry:
                    type: string
                  company_size:
                    type: string
                  company_founded:
                    type: integer
                  company_type:
                    type: string
                  company_location:
                    type: object
                    properties:
                      name:
                        type: string
                      locality:
                        type: string
                      region:
                        type: string
                      metro:
                        type: string
                      country:
                        type: string
                      continent:
                        type: string
                      street_address:
                        type: string
                      address_line_2:
                        type: string
                        nullable: true
                      postal_code:
                        type: string
                      geo:
                        type: string
                        nullable: true
                  company_linkedin_url:
                    type: string
                    description: Legacy field name for the B2B company profile.
                  company_linkedin_id:
                    type: string
                  company_facebook_url:
                    type: string
                    nullable: true
                  company_twitter_url:
                    type: string
                    nullable: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/email-finder:
    post:
      summary: Email Finder
      description: Find a person's work email address using their name and company information.
      operationId: email-finder
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: First name of the person (optional if full_name provided)
                  default: Alex
                last_name:
                  type: string
                  nullable: true
                  description: Last name of the person (optional)
                  default: Rivera
                full_name:
                  type: string
                  nullable: true
                  description: Full name of the person (alternative to first_name + last_name)
                  default: Alex Rivera
                domain:
                  type: string
                  description: Company domain name (required if company_name not provided)
                  default: leadmagic.io
                company_name:
                  type: string
                  description: Company name (required if domain not provided)
                  default: LeadMagic
            examples:
              synthetic:
                summary: Fictional documentation input; not a live customer fixture
                value:
                  first_name: Alex
                  last_name: Example
                  domain: example.com
      responses:
        "200":
          description: Successful response with email details
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  status:
                    type: string
                  credits_consumed:
                    type: integer
                  message:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  domain:
                    type: string
                  mx_record:
                    type: string
                  mx_provider:
                    type: string
                  mx_security_gateway:
                    type: boolean
                  has_mx:
                    type: boolean
                    description: Whether the domain has MX records
                  mx_records_full:
                    type: array
                    description: Complete list of MX records with priorities
                    items:
                      type: object
                      properties:
                        priority:
                          type: integer
                        exchange:
                          type: string
                  company_name:
                    type: string
                  company_industry:
                    type: string
                  company_size:
                    type: string
                  company_founded:
                    type: integer
                  company_location:
                    type: object
                    properties:
                      name:
                        type: string
                      locality:
                        type: string
                      region:
                        type: string
                      metro:
                        type: string
                      country:
                        type: string
                      continent:
                        type: string
                      street_address:
                        type: string
                      address_line_2:
                        type: string
                      postal_code:
                        type: string
                      geo:
                        type: string
                  company_profile_url:
                    type: string
                  company_profile_id:
                    type: string
                  company_facebook_url:
                    type: string
                  company_twitter_url:
                    type: string
                  company_type:
                    type: string
                  employment_verified:
                    type: boolean
                    nullable: true
                    description: Whether the employment at the domain was verified
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/personal-email-finder:
    post:
      summary: Personal Email Finder
      description: Provide a B2B Profile URL and get back the personal emails of the person.
      operationId: personal-email-finder
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: Professional profile URL or identifier
                  default: alex-rivera
              required:
                - profile_url
      responses:
        "200":
          description: Successful response with personal email details
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_url:
                    type: string
                  credits_consumed:
                    type: integer
                  message:
                    type: string
                  name:
                    type: string
                  first_personal_email:
                    type: string
                  personal_emails:
                    type: array
                    items:
                      type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/b2b-profile-email:
    post:
      summary: B2B Person Profile to Email
      description: Provide a B2B person profile and get back the work email of the person.
      operationId: b2b-profile-email
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: B2B person profile URL or slug
                  default: alex-rivera
              required:
                - profile_url
      responses:
        "200":
          description: Successful response with profile and email details
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_url:
                    type: string
                  credits_consumed:
                    type: integer
                  message:
                    type: string
                  email:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/profile-search:
    post:
      summary: B2B Person Profile
      description: Retrieve comprehensive B2B person profile information including work history, education, certifications, and more.
      operationId: profile-search
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: B2B person profile URL or slug
              required:
                - profile_url
      responses:
        "200":
          description: Successful response with profile information
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_url:
                    type: string
                  credits_consumed:
                    type: integer
                  first_name:
                    type: string
                    nullable: true
                  last_name:
                    type: string
                    nullable: true
                  full_name:
                    type: string
                    nullable: true
                  professional_title:
                    type: string
                    nullable: true
                  bio:
                    type: string
                    nullable: true
                  company_name:
                    type: string
                    nullable: true
                  company_industry:
                    type: string
                    nullable: true
                  company_website:
                    type: string
                    nullable: true
                  total_tenure_months:
                    type: string
                    nullable: true
                  total_tenure_days:
                    type: string
                    nullable: true
                  total_tenure_years:
                    type: string
                    nullable: true
                  followers_range:
                    type: string
                    nullable: true
                    description: Follower count range for privacy (e.g. "45K-50K", "1M+")
                  personal_website:
                    type: object
                    nullable: true
                    properties:
                      name:
                        type: string
                      link:
                        type: string
                  country:
                    type: string
                    nullable: true
                  location:
                    type: string
                    nullable: true
                  work_experience:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        position_title:
                          type: string
                        company_name:
                          type: string
                        employment_period:
                          type: string
                        company_website:
                          type: string
                          nullable: true
                          description: Only included when domain is available
                        company_logo_url:
                          type: string
                          nullable: true
                          description: Only included when domain is available
                  education:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        institution_name:
                          type: string
                        degree:
                          type: string
                        attendance_period:
                          type: string
                  certifications:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        certification_name:
                          type: string
                        issuing_organization:
                          type: string
                        issue_date:
                          type: string
                  honors:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/b2b-profile:
    post:
      summary: Email Address to B2B Person Profile
      description: Use this endpoint to find a B2B person profile based on the provided email.
      operationId: email-to-b2b-profile
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                work_email:
                  type: string
                  description: Provide the Work Email of the person
                  default: alex.rivera@example.com
                personal_email:
                  type: string
                  description: Provide the Personal Email of the person
                  default: person@example.com
      responses:
        "200":
          description: Successful response with B2B profile details
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_url:
                    type: string
                  message:
                    type: string
                  credits_consumed:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/mobile-finder:
    post:
      summary: Mobile Finder
      description: Find a person's mobile phone number using their profile URL or email address.
      operationId: mobile-finder
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: Provide their Social Media URL
                  default: alex-rivera
                work_email:
                  type: string
                  description: Provide the Work Email of the person
                  default: alex.rivera@example.com
                personal_email:
                  type: string
                  description: Provide the Personal Email of the person
                  default: person@example.com
      responses:
        "200":
          description: Successful response with mobile details
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_url:
                    type: string
                    nullable: true
                  email:
                    type: string
                    nullable: true
                    description: Email address used in lookup (if provided)
                  mobile_number:
                    type: string
                    nullable: true
                    description: Mobile phone number if found
                  credits_consumed:
                    type: number
                  message:
                    type: string
                    description: Status message about the result
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/job-change-detector:
    post:
      summary: Job Change Detector
      description: Monitor employee transitions and detect when someone has changed jobs. Costs 3 credits per check. The submitted company_name is authoritative; a company_domain lookup only adds matcher aliases. job_change_detected is true only when status is JOB_CHANGE_DETECTED. When the profile URL does not resolve, the response is status PROFILE_NOT_FOUND with resolution_reason PROFILE_NOT_FOUND and credits_consumed 0 — nothing is charged.
      operationId: job-change-detector
      tags:
        - Jobs Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: Professional profile URL or identifier
                company_name:
                  type: string
                  description: Expected company name (either company_name or company_domain is required)
                company_domain:
                  type: string
                  description: Expected company domain (either company_name or company_domain is required)
              required:
                - profile_url
      responses:
        "200":
          description: Successful job change detection
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_change_detected:
                    type: boolean
                    description: true only when status is JOB_CHANGE_DETECTED.
                  status:
                    type: string
                    description: NO_CHANGE — the expected employer is a current role. JOB_CHANGE_DETECTED — a different primary employer is current, or the matched role has an explicit end date with nothing current, or the expected employer is absent from history while another primary employer is current. NEVER_WORKED_THERE — the expected employer is absent from history and no primary current role is listed. AMBIGUOUS_CURRENT_EMPLOYMENT — multiple substantive current roles; not safe to call. CURRENT_EMPLOYMENT_UNKNOWN — the expected employer matched but the role carries no dates; unknown, not a change. PROFILE_NOT_FOUND — the profile URL did not resolve; credits_consumed is 0.
                    enum:
                      - NO_CHANGE
                      - JOB_CHANGE_DETECTED
                      - NEVER_WORKED_THERE
                      - AMBIGUOUS_CURRENT_EMPLOYMENT
                      - CURRENT_EMPLOYMENT_UNKNOWN
                      - PROFILE_NOT_FOUND
                  resolution_reason:
                    type: string
                    description: Why the status was chosen. PROFILE_NOT_FOUND accompanies status PROFILE_NOT_FOUND.
                    enum:
                      - CURRENT_COMPANY_MATCHES_EXPECTED
                      - CURRENT_COMPANY_DIFFERS_FROM_EXPECTED
                      - EXPECTED_COMPANY_NOT_FOUND_IN_HISTORY
                      - NO_CURRENT_POSITION_FOUND
                      - NO_EXPERIENCE_HISTORY_FOUND
                      - MULTIPLE_CURRENT_POSITIONS_FOUND
                      - PROFILE_NOT_FOUND
                  summary:
                    type: string
                  employee_name:
                    type: string
                  expected_company:
                    type: string
                  current_company:
                    type: string
                  current_position:
                    type: object
                    properties:
                      title:
                        type: string
                      company:
                        type: string
                      start_date:
                        type: string
                      days_at_job:
                        type: integer
                      tenure_formatted:
                        type: string
                      is_current_position:
                        type: boolean
                  tenure_stats:
                    type: object
                    properties:
                      average_tenure_months:
                        type: integer
                      average_tenure_formatted:
                        type: string
                      total_positions:
                        type: integer
                      longest_tenure_months:
                        type: integer
                      longest_tenure_formatted:
                        type: string
                      shortest_tenure_months:
                        type: integer
                      shortest_tenure_formatted:
                        type: string
                  work_history:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        company:
                          type: string
                        duration:
                          type: string
                        is_present:
                          type: boolean
                  profile_found:
                    type: boolean
                  profile_url:
                    type: string
                  credits_consumed:
                    type: integer
                    description: 3 per check; 0 when status is PROFILE_NOT_FOUND.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/companies/company-search:
    post:
      summary: Company Search
      description: Search for companies and retrieve comprehensive company intelligence including funding, employees, industry, and more.
      operationId: company-search
      tags:
        - Company Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_url:
                  type: string
                  description: Business company profile URL or identifier
                  default: leadmagichq
                company_domain:
                  type: string
                  description: Provide Company Domain
                  default: leadmagic.io
                company_name:
                  type: string
                  description: Provide Company Name
                  default: Leadmagic
            examples:
              synthetic:
                summary: Fictional documentation input; not a live customer fixture
                value:
                  company_domain: example.com
      responses:
        "200":
          description: Successful response with company details
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Status message
                  credits_consumed:
                    type: number
                    description: Number of credits consumed for this request
                  companyName:
                    type: string
                  companyId:
                    type: integer
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        country:
                          type: string
                        city:
                          type: string
                        geographicArea:
                          type: string
                        postalCode:
                          type: string
                        line1:
                          type: string
                        line2:
                          type: string
                          nullable: true
                        description:
                          type: string
                        headquarter:
                          type: boolean
                        localizedName:
                          type: string
                        latitude:
                          type: number
                        longitude:
                          type: number
                  employeeCount:
                    type: integer
                  specialities:
                    type: array
                    items:
                      type: string
                  employeeCountRange:
                    type: object
                    properties:
                      start:
                        type: integer
                      end:
                        type: integer
                  tagline:
                    type: string
                  followerCount:
                    type: integer
                  industry:
                    type: string
                  description:
                    type: string
                  websiteUrl:
                    type: string
                  headquarter:
                    type: object
                    properties:
                      country:
                        type: string
                      city:
                        type: string
                      geographicArea:
                        type: string
                      postalCode:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                        nullable: true
                      description:
                        type: string
                  foundedOn:
                    type: object
                    properties:
                      month:
                        type: integer
                        nullable: true
                      year:
                        type: integer
                      day:
                        type: integer
                        nullable: true
                  universalName:
                    type: string
                  hashtag:
                    type: string
                  url:
                    type: string
                  logo_url:
                    type: string
                    nullable: true
                    description: Company logo URL from logo.leadmagic.io (generated from company domain)
                  founded_year:
                    type: string
                    nullable: true
                    description: Year the company was founded
                  ownership_status:
                    type: string
                    nullable: true
                    description: Ownership type (Public, Private, or Acquired)
                  revenue:
                    type: number
                    nullable: true
                    description: Estimated annual revenue
                  revenue_formatted:
                    type: string
                    nullable: true
                    description: Human-readable revenue format
                  employee_range:
                    type: string
                    nullable: true
                    description: Employee count range
                  total_funding:
                    type: string
                    nullable: true
                    description: Total funding raised
                  funding_rounds:
                    type: integer
                    nullable: true
                    description: Number of funding rounds completed
                  last_funding_round:
                    type: string
                    nullable: true
                    description: Type of most recent funding round
                  last_funding_amount:
                    type: number
                    nullable: true
                    description: Amount raised in most recent funding round
                  last_funding_date:
                    type: string
                    nullable: true
                    description: Date of most recent funding round
                  competitors:
                    type: array
                    nullable: true
                    description: List of competitor company names
                    items:
                      type: string
                  acquisitions_count:
                    type: integer
                    nullable: true
                    description: Number of acquisitions made by the company
                  twitter_url:
                    type: string
                    nullable: true
                    description: Twitter/X profile URL
                  b2b_profile_url:
                    type: string
                    nullable: true
                    description: B2B company profile URL
                  facebook_url:
                    type: string
                    nullable: true
                    description: Facebook page URL
                  stock_ticker:
                    type: string
                    nullable: true
                    description: Stock ticker symbol (if publicly traded)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/companies/company-funding:
    post:
      summary: Company Funding
      description: Provide the Company Domain or Company Name and get back the complete funding details of the company.
      operationId: company-funding
      tags:
        - Company Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: Provide Company Name
                  default: leadmagic
                company_domain:
                  type: string
                  description: Provide Company Domain
                  default: leadmagic.io
      responses:
        "200":
          description: Successful response with company funding details
          content:
            application/json:
              schema:
                type: object
                properties:
                  basicInfo:
                    type: object
                    properties:
                      companyName:
                        type: string
                      description:
                        type: string
                      shortName:
                        type: string
                      founded:
                        type: string
                      headquarters:
                        type: object
                        properties:
                          city:
                            type: string
                          state:
                            type: string
                          country:
                            type: string
                          fullAddress:
                            type: string
                      primaryDomain:
                        type: string
                      phone:
                        type: string
                      status:
                        type: string
                      followers:
                        type: integer
                      ownership:
                        type: string
                  financialInfo:
                    type: object
                    properties:
                      revenue:
                        type: integer
                      formattedRevenue:
                        type: string
                      totalFunding:
                        type: integer
                      formattedFunding:
                        type: string
                      lastFundingRound:
                        type: object
                        properties:
                          round:
                            type: string
                          date:
                            type: string
                            format: date-time
                          amount:
                            type: integer
                  fundingHistory:
                    type: array
                    items:
                      type: object
                      properties:
                        round:
                          type: string
                        date:
                          type: string
                          format: date-time
                        amount:
                          type: string
                        investors:
                          type: array
                          items:
                            type: string
                  companySize:
                    type: object
                    properties:
                      employees:
                        type: integer
                      employeeRange:
                        type: string
                      employeeGrowth:
                        type: string
                  leadership:
                    type: object
                    properties:
                      ceo:
                        type: object
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          designation:
                            type: string
                          b2b_profile:
                            type: string
                          twitter:
                            type: string
                  industryAndSectors:
                    type: object
                    properties:
                      industrySectors:
                        type: array
                        items:
                          type: string
                      industries:
                        type: array
                        items:
                          type: string
                      technologyStack:
                        type: string
                  topCompetitors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        revenue:
                          type: string
                        employees:
                          type: string
                        totalFunding:
                          type: string
                        headquarters:
                          type: object
                          properties:
                            city:
                              type: string
                            state:
                              type: string
                            country:
                              type: string
                            fullAddress:
                              type: string
                        founded:
                          type: string
                          format: date-time
                        ownership:
                          type: string
                        website:
                          type: string
                  acquisitions:
                    type: array
                    items:
                      type: object
                      properties:
                        companyName:
                          type: string
                        acquisitionDate:
                          type: string
                          format: date-time
                        description:
                          type: string
                        source:
                          type: string
                  socialMedia:
                    type: array
                    items:
                      type: object
                      properties:
                        platform:
                          type: string
                        url:
                          type: string
                  news:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        source:
                          type: string
                        date:
                          type: string
                          format: date-time
                  pressReleases:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        source:
                          type: string
                        date:
                          type: string
                          format: date-time
                  keyHighlights:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        text:
                          type: string
                        date:
                          type: string
                          format: date-time
                        src:
                          type: string
                        source:
                          type: string
                  summarySection:
                    type: string
                  credits_consumed:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/companies/competitors-search:
    post:
      summary: Competitors Search
      description: Find competitors of a company by analyzing market position and industry data.
      operationId: competitors-search
      tags:
        - Company Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_domain:
                  type: string
                  description: Company website domain
                company_url:
                  type: string
                  description: Company profile URL or identifier (optional)
                company_name:
                  type: string
                  description: Company name
      responses:
        "200":
          description: Successful response with competitors details
          content:
            application/json:
              schema:
                type: object
                properties:
                  competitors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        shortDescription:
                          type: string
                        founded_year:
                          type: string
                        companyType:
                          type: string
                        hq:
                          type: string
                        employeesCount:
                          type: integer
                        valuation:
                          type: integer
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              slug:
                                type: string
                              primary:
                                type: boolean
                        twitter_followers:
                          type: integer
                        growth:
                          type: integer
                        non_hq_locations:
                          type: array
                          items:
                            type: string
                        more_locations:
                          type: boolean
                        financial_metrics:
                          type: object
                          properties:
                            currency_code:
                              type: string
                            period:
                              type: string
                            revenue:
                              type: integer
                            cost_of_goods_sold:
                              type: integer
                              nullable: true
                            gross_profit:
                              type: integer
                              nullable: true
                            net_income:
                              type: integer
                              nullable: true
                        operating_metrics:
                          type: array
                          items:
                            type: object
                            properties:
                              period:
                                type: string
                              value:
                                type: string
                              definition:
                                type: string
                              operating_metric_group:
                                type: string
                              currency_code:
                                type: string
                                nullable: true
                        funding_metrics:
                          type: object
                          properties:
                            date:
                              type: string
                            latest:
                              type: integer
                            currency_code:
                              type: string
                            total:
                              type: integer
                        twitterEngagement:
                          type: object
                          properties:
                            handle:
                              type: string
                            analytics:
                              type: array
                              items:
                                type: object
                                properties:
                                  collectedAt:
                                    type: string
                                  tweets:
                                    type: integer
                                  following:
                                    type: integer
                                  followers:
                                    type: integer
                                  tweetsForPeriod:
                                    type: integer
                                  avgTweetsPerDay:
                                    type: number
                                  avgRetweetsPerTweet:
                                    type: number
                                  avgLikesPerTweet:
                                    type: number
                                  tweetsPercentageEngagementForPeriod:
                                    type: number
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/companies/technographics:
    post:
      summary: Company Technographics
      description: Get detailed technology stack information for any company by providing their domain.
      operationId: technographics
      tags:
        - Company Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - company_domain
              properties:
                company_domain:
                  type: string
                  description: The domain of the company to analyze
      responses:
        "200":
          description: Successful response with technology stack information
          content:
            application/json:
              schema:
                type: object
                properties:
                  credits_consumed:
                    type: integer
                  message:
                    type: string
                  data:
                    type: array
                    description: Array of technologies found. Omitted or empty when no data is available.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the technology
                        description:
                          type: string
                          description: Description of the technology
                        categories:
                          type: array
                          description: Categories this technology belongs to
                          items:
                            type: string
                        sub_technologies:
                          type: array
                          description: Sub-technologies or related tools
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Name of the sub-technology
                              description:
                                type: string
                                description: Description of the sub-technology
                              categories:
                                type: array
                                items:
                                  type: string
                                description: Categories for the sub-technology
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/role-finder:
    post:
      summary: Role Finder
      description: Provide the company name or domain and the required job title, and retrieve the corresponding person.
      operationId: role-finder
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: Business Profile URL (with url or public_identifier)
                  default: leadmagic
                company_domain:
                  type: string
                  description: Company domain
                  default: leadmagic.io
                job_title:
                  type: string
                  description: Enter the job title you want to find in the company.
                  default: ceo
      responses:
        "200":
          description: Successful response with role details
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  profile_url:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  message:
                    type: string
                  credits_consumed:
                    type: integer
                  company_name:
                    type: string
                  company_website:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/people/employee-finder:
    post:
      summary: Employee Finder
      description: Find employees at a company. Returns a list of employees with their profiles, titles, and locations. Costs 0.05 credits per employee returned — free when no employees are found.
      operationId: employee-finder
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_domain:
                  type: string
                  description: Company website domain (preferred — more accurate than company_name)
                  default: leadmagic.io
                company_name:
                  type: string
                  description: Company name. Use if domain is not available.
                  default: leadmagic
                limit:
                  type: integer
                  description: Maximum number of employees to return
                  default: 10
      responses:
        "200":
          description: Successful response with employee list
          content:
            application/json:
              schema:
                type: object
                properties:
                  employees:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        last_name:
                          type: string
                        full_name:
                          type: string
                        profile_url:
                          type: string
                        job_title:
                          type: string
                        location:
                          type: string
                  total_count:
                    type: integer
                    description: Total employees found (may exceed returned count when limit is set)
                  credits_consumed:
                    type: number
                    description: Credits used (0.05 per employee returned)
                  message:
                    $ref: "#/components/schemas/EmployeeFinderMessages"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v3/people/search:
    post:
      summary: People Search
      description: Canonical V3 people lookup with all company, title, role, people, channel, and contact-detail filters.
      operationId: people-search
      tags:
        - People Enrichment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                company_domain:
                  type: string
                company_name:
                  type: string
                linkedin_url:
                  type: string
                  description: B2B company profile URL or slug.
                company_filters:
                  type: object
                  additionalProperties: true
                  description: Criteria-based company set. Supports the full Company Search filter family.
                people_filters:
                  type: object
                  additionalProperties: true
                  description: |
                    People-level filters for names, title/function/level, geography, profile URLs, headline/about-me/industry, languages, seniority, connection count, and channel availability. Canonical keys use the contact_* prefix (e.g. contact_linkedin_about_me); bare aliases such as about_me, headline, industry, job_function, and city are accepted. contact_job_function accepts short chips (Sales, Marketing, Finance, …) or full standard labels (Sales & Business Development, …); matching is exact after chip→label expansion and response rows always return the standard label. Multiple values in one array are OR'd; different people_filters keys in one request are AND'd. Keys the search cannot honor are echoed in interpreted_search.ignored_people_filters rather than silently dropped.
                title:
                  type: string
                job_title:
                  type: string
                titles:
                  type: array
                  items:
                    type: string
                  maxItems: 12
                roles:
                  type: array
                  items:
                    type: string
                  maxItems: 12
                query:
                  type: string
                  description: Free-text people/title query.
                required_email:
                  type: boolean
                  description: Only return people with email availability.
                required_mobile:
                  type: boolean
                  description: Only return people with mobile availability.
                channels:
                  type: array
                  items:
                    type: string
                    enum:
                      - email
                      - phone
                  description: Legacy alias for contactability requirements.
                channel_match:
                  type: string
                  enum:
                    - any
                    - all
                  default: any
                include_company:
                  type: boolean
                  default: true
                include_domain_intel:
                  type: boolean
[...]
